<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBez0LITpgO_vSq4W_0VLSrcjkc-S-3HfY</string>
	<key>GCM_SENDER_ID</key>
	<string>259433136682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oguzhangumus.InstagramCloneApp</string>
	<key>PROJECT_ID</key>
	<string>instagramcloneapp-42a90</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramcloneapp-42a90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259433136682:ios:d30dde82b3d9de7efb7953</string>
</dict>
</plist>